In [12]:
L = [11, 12, 13, 14]

Q1. L is a list defined as L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L.

In [13]:
L.append(50)
L.append(60)
L

[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13from L.

In [14]:
L.remove(11)
L
L.remove(13)
L

[12, 14, 50, 60]

(iii) WAP to sort L in ascending order.

In [17]:
L.sort()
L

[12, 14, 50, 60]

(iv) WAP to sort L in descending order.

In [19]:
L.sort(reverse=True)
L

[60, 50, 14, 12]

(v) WAP to search for 13 in L.

In [22]:
if 13 in L:
    print("13 found in L ")
else:
    print("13 not found in L ")

13 not found in L

(vi) WAP to count the number of elements present in L.

In [23]:
print("Number of elements in List L : " ,len(L))

Number of elements in List L :  4

(vii) WAP to sum all the elements in L.

In [24]:
sum = 0
for i in L:
    sum = sum + i
print("Sum of the elements in L : " , sum)

Sum of the elements in L :  136

(viii) WAP to sum all ODD numbers in L.

In [26]:
sum = 0
for i in L :
    if i % 2 != 0:
        sum = sum + i
print("Sum all ODD numbers in L : " , sum)

Sum all ODD numbers in L :  0

(ix) WAP to sum all EVEN numbers in L.

In [27]:
sum = 0
for i in L :
    if i % 2 == 0:
        sum = sum + i
print("Sum all ODD numbers in L : " , sum)

Sum all ODD numbers in L :  136

(x) WAP to sum all PRIME numbers in L.

In [29]:
sum = 0
for k in  L:
    for i in range(2, k//2 + 1):
        if  k % i == 0: 
            f=1
            break

    if f==0:
        sum = sum + k

print("Sum all PRIME numbers in L:" , sum)

Sum all PRIME numbers in L: 0

(xi) WAP to clear all the elements in L.

In [30]:
L.clear()
L

[]

(xii) WAP to delete L.

In [31]:
del L
L

NameError: name 'L' is not defined

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

In [36]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

(i) WAP to add new entry in D; key=8 and value is 8.8

In [37]:
D[8]=8.8
D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [39]:
del D[2]
D

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(iii) WAP to check weather 6 key is present in D.

In [41]:
if 6 in D:
    print("6 key is present in D.")
else:
    print("6 key is not present in D.")

6 key is not present in D.

(iv) WAP to count the number of elements present in D.

In [43]:
count = 0
for K in D:
    count = count + 1
print("Number of elements present in D :", count)
D

Number of elements present in D : 5

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(v) WAP to add all the values present D

In [50]:
sum = 0
values = list(D.values())
for i in range(1,len(values),1):
    sum = sum + values[i]
print("Sum of all values in D : " , sum )

Sum of all values in D :  31.8

(vi) WAP to update the value of 3 to 7.1

In [52]:
print("Old Dictionary before update : ", D)
D[3]=7.1
print("New Dictionary after update : ", D)

Old Dictionary before update :  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
New Dictionary after update :  {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

(vii) WAP to clear the dictionary.

In [53]:
D.clear()
D

{}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

In [57]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]
print("S1:",S1)
print("S2:",S2)

S1: [10, 20, 30, 40, 50, 60]
S2: [40, 50, 60, 70, 80, 90]

(i) WAP to add 55 and 66 in Set S1.

In [59]:
S1.append(55)
S1.append(66)
S1

[10, 20, 30, 40, 50, 60, 55, 66]

(ii) WAP to remove 10 and 30 from Set S1

In [60]:
del S1[0]
del S1[2]
S1

[20, 30, 50, 60, 55, 66]

(iii) WAP to check whether 40 is present in S1.

In [61]:
if 40 in S1:
    print("40 is present in S1.")
else:
    print("40 is not present in S1.")

40 is not present in S1.

(iv) WAP to find the union between S1 and S2.

In [63]:
print("Union of S1 and S2 : " , S1 + S2)

Union of S1 and S2 :  [20, 30, 50, 60, 55, 66, 40, 50, 60, 70, 80, 90]

(v) WAP to find the intersection between S1 and S2.

In [65]:
intersection = []
for i in S1:
    for j in S2:
        if i==j:
            intersection.append(i)
print("Intersection of S1 and S2: ", intersection)

Intersection of S1 and S2:  [50, 60]

(vi) WAP to find the S1 - S2.

In [70]:
print("S1:",S1)
print("S2:",S2)
intersection = []
for i in S1:
    for j in S2:
        if i==j:
            intersection.append(i)
l = []
for i in S1:
    for j in intersection:
        if i!=j:
            l.append(i)
            

print("S1 - S2: ", l)

S1: [20, 30, 50, 60, 55, 66]
S2: [40, 50, 60, 70, 80, 90]
S1 - S2:  [20, 20, 30, 30, 50, 60, 55, 55, 66, 66]

Q4. Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8

In [76]:
import string as s
import random as r
#print ("String        --> ",s.ascii_letters)

for i in range(1,33,1):
    str1=r.sample(s.ascii_letters, 6)
    str1="".join(str1)
    print ("String--> ",str1)
    str2=r.sample(s.ascii_letters, 7)
    str2="".join(str2)
    print ("String--> ",str2)
    str3=r.sample(s.ascii_letters, 8)
    str3="".join(str3)
    print ("String--> ",str3)
    
str4=r.sample(s.ascii_letters, 8)
str4="".join(str4)
print ("String--> ",str4)

String-->  OZWvjb
String-->  rXyivDA
String-->  bEUKegTW
String-->  vobEna
String-->  icQlhJw
String-->  EqACgOej
String-->  MiBAgK
String-->  QlqIJan
String-->  qYQEGIka
String-->  hZTsAR
String-->  tQMnpal
String-->  HCKNWPdT
String-->  MajBOl
String-->  AMDpCdQ
String-->  AKuJtimC
String-->  xYTCej
String-->  izBoHds
String-->  ztXupALx
String-->  qLcQrE
String-->  POCkynJ
String-->  btxGHnSY
String-->  mczeAL
String-->  keMdqKH
String-->  GsmaLArx
String-->  GBzDFZ
String-->  EGgTtAJ
String-->  QbSBcuid
String-->  jOtfFq
String-->  YiFoWHj
String-->  NtVsGAyx
String-->  KnMUIi
String-->  euOLNhS
String-->  mTNaBQnF
String-->  IVjLmv
String-->  hxtRZqY
String-->  AlLVyCiw
String-->  NVvZTl
String-->  WGgaDQf
String-->  OyJvCDVE
String-->  xUoAuK
String-->  UFMGxiv
String-->  JBzhHtqp
String-->  tBnZCu
String-->  cQAyKrB
String-->  nJTqWBKu
String-->  MpPdYO
String-->  HXkUdNp
String-->  xKjHGhZd
String-->  fsZyOH
String-->  efEJyPd
String-->  OVLmJIkE
String-->  vnUkWO
String-->  vcRfFnq
String-->  rQgLUDwo
String-->  VjYLkG
String-->  PAMrJyQ
String-->  vTblkBNw
String-->  jZYmsV
String-->  tVGaExl
String-->  aHErwAvk
String-->  FZhWLm
String-->  XbwDGOe
String-->  PXIocfbE
String-->  aYCBjv
String-->  qDpOlyg
String-->  MiwPRrEN
String-->  XQwPUY
String-->  MOHtQwJ
String-->  tHeCmdkU
String-->  gRFnoQ
String-->  NyVRKnD
String-->  tpvSQJCM
String-->  OCskZa
String-->  XuEFCsR
String-->  UurGRfwH
String-->  nrhOYN
String-->  LRmqBJX
String-->  wjXkzRaV
String-->  MmHpyF
String-->  NhIOEKn
String-->  uqiTkbDE
String-->  fdATFc
String-->  dCwMlik
String-->  NhsIrdbw
String-->  mJkSyw
String-->  tiXcnsC
String-->  yAwiSoMt
String-->  DUOuiZ
String-->  iRaSOVy
String-->  RVCJQkXN
String-->  tTvmzo
String-->  IXjbvLG
String-->  YqpwHFEc
String-->  PbgnZs
String-->  qFQjvni
String-->  BrvKVSpU
String-->  AYWsPnNZ